@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:wght@300;600;800&family=Poppins:wght@500;600;700&family=Yeon+Sung&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    /* vw는 view port width, 지금 보는 화면에서 90% 채우게 하겠다.*/
    width: 90vw 
  }
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  /* vh는 view port high */
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: 'Nanum Pen Script';
  text-align: center;
}

.MyButton_default {
  background-color: #ececec;
  color: #000;
}

.MyButton_positive {
  background-color: #64c964;
  color: #fff;
}

.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: 'Nanum Pen Script';
}
